.img-div{
    display: inline-block;
    margin: auto;
}

.input-hidden {
    display: none;
}


input[type=radio]:hover + label>img {
    cursor: pointer;
    opacity: 1;
}


input[type=radio]:checked + label>img {
    border: 2px solid green;
    opacity: 1;
}



.input-hidden + label>.generation-image-div {
    opacity: 0.8;
}

.input-hidden:hover + label>.generation-image-div {
    opacity: 1;
    cursor: pointer;
}

.input-hidden:checked + label>.generation-image-div {
    border: 2px solid #8e8e8e;
    opacity: 1;
}

.generation-image-div{
    width: 200px;
    height: 150px;
}